@import url("home.css");
@import url('https://fonts.googleapis.com/css2?family=Hanalei&family=Modak&display=swap');
/* -------------------------------------------meet Our Team-------------------------------------- */
.our_vision{
    overflow: hidden !important;
}
.meetOurTeam-allBlock{
    display: flex;
    justify-items: center;
    justify-content: center;
    overflow: hidden !important;
}
.meetOurTeam-block h1{
    font: 25px oswald !important;
}
.meetOurTeam{
    padding: 20px 0;
    width: 100%;
    overflow: hidden;

}

.meetOurTeam-block{
    display: inline-block;
    width: 257px;
    text-align: center;
    margin: 60px 10px;
    border: 2px solid var(--green_3);
}
.meetOurTeam-block-img{
    position: relative;
}
.socialIcons{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: 170px;
    transform: translateX(-50%);
   
}
.socialIcons a{
    text-align: center;
    font-size: 20px;
    color: #fff;
    opacity: 0;
    transition: .3s;
    padding: 5px;
    width: 35px;
    height: 35px;
    /* overflow: hidden; */
    display: inline-block;
    /* background: #fff; */
    border-radius: 50%;
}


.meetOurTeam-block h1{
    font: 20px oswald;
    margin: 15px 0px 0px 0px;
    font-weight: 600;

    color: var(--light);

}
.meetOurTeam-block p{
    margin: 0;
    color: var(--light);
    padding-bottom: 20px;
}
.meetOurTeam-block img{
    width: 253px;
}

.socialIcons a:first-child{
    background: #3b5998 ;
    transition: .90s;
    
}
.socialIcons a:nth-child(2){
    transition: .70s;
    background: #00acee;
    
}
.socialIcons a:nth-child(3){
    transition: .50s;
    background: #db4a39;
}
.socialIcons a:last-child{
    transition: .30s;
    background: #0e76a8;
}


/* --------hover--------- */
.socialIcons a:first-child:hover{
    background: #3b5998 ;
    transition: .90s;
    color: #252525;
    background: #fff;
}
.socialIcons a:nth-child(2):hover{
    transition: .70s;
    background: #00acee;
    color: #252525;
    background: #fff;
}
.socialIcons a:nth-child(3):hover{
    transition: .50s;
    background: #db4a39;
    color: #252525;
    background: #fff;
}
.socialIcons a:last-child:hover{
    transition: .30s;
    background: #0e76a8;
    color: #252525;
    background: #fff;
}



.meetOurTeam-block:hover .socialIcons a:first-child{
    opacity: 1;
    transform: translateY(30px);
}
.meetOurTeam-block:hover .socialIcons a:nth-child(2){
    opacity: 1;
    transform: translateY(30px);
}
.meetOurTeam-block:hover .socialIcons a:nth-child(3){
    opacity: 1;
    transform: translateY(30px);
}
.meetOurTeam-block:hover .socialIcons a:last-child{
    opacity: 1;
    transform: translateY(30px);
}
.meetOurTeam-btn{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.meetOurTeam-btn a{
    padding: 12px 35px;
    background: var(--green_3);
    text-decoration: none;
    color: #fff;
    font-family: oswald;
    font-size: 18px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: .3s;
    font-weight: 500;
}
.meetOurTeam-btn a:hover{
    background: var(--dark_1);
}

.container_te{
    width: 1170px;
    margin: auto;
    padding: 0px 15px;
    font-family: 'work sans';
    font-size: 15px;
    
}

.bg_about_us{
    background: url("../img/apex_bg_1.png") !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;

}
.p_shape_custom{
    z-index: 1;
    background: #0e0e10ad;
    float: left;
    height: 100%;
    width: 50%;
    clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);
    display: flex;
    justify-items: center;
    justify-content: center;
    position: relative;
}
.about_us_bg{
    background: url("../img/apexlogo.jpg") !important;
    background-position: center !important; 
    background-repeat: no-repeat !important; 
    background-size: cover !important;
}
.vision_text{
    color: var(--light);
    font-family: 'Hanalei', cursive !important;
}
.border_red{
    border: 3px solid var(--green_3);
}
.single_custom{
    /* width: 1170px !important; */
    margin: auto !important;
    background: #c9df003d;
    height: 520px !important;
    margin-bottom: 50px !important;
}
.all_content p{
    position: absolute;

    top: 50px;
    right: 100px;
    width: 478px;
    color: var(--light);
    font: 25px oswald;
    text-align: end;
}
.our_vision{
    padding-top: 80px;
}